*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.navigation__name {
  color: #fff;
  font-size: 3rem;
  font-weight: 500; }
  .navigation__name--vertical-bar {
    font-size: 4rem; }

.navigation {
  background-color: #4942E4;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem; }
  .navigation__sign-in {
    border-style: none;
    background-color: #000;
    color: #FAE7F3;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s; }
    .navigation__sign-in:hover {
      background-color: #FAE7F3;
      color: #000; }
