.footer {
  position: relative;
  bottom: 0;
  left:0;
  right:0;
  background-color: $violet-darker-1;
  padding: 5rem 3rem;
  
  &__inner-container {
    display: flex;
  }

  &__logo {
    width: 15rem;
  }

  &__links {
    &:not(:last-child) {
      margin-right: 5rem;
    }

    &-container {
      margin-left: 10rem;
      display: flex;
    }

    &-title {
      color: $pink-lighter;
      font-size: 2rem;
    }

    & ul {
      list-style-type: none;
    }

    & li {
      margin-bottom: 1rem;

      &:first-child {
        margin-top: 2rem;
      }
    }
    
    &-item {
      margin-top: 2rem;
      color: $pink-lighter;
      font-size: 1.5rem;
    }
    
    &-link {
      font-size: 1.5rem;
      
      &:link,
      &:visited {
        text-decoration: none;
        color: $pink-lighter;
      }
    }
  }
}
