.navigation {
  background-color: $violet-darker-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  &__right-side{
    display: flex;
    align-items: center;

    & ul {
      list-style-type: none;

      & li {
        display: inline-block;
        font-size: 2rem;
        margin-right: 2rem;
      }
    }
  }
  
  &__link {
    &:link,
    &:visited {
      color: $pink-lighter;
      text-decoration: none;
      cursor: pointer;
    }

    &:hover {
      border-bottom: .4rem solid $white;
    }
  }

  &__logo {
    width: 15rem;
  }
}