.navigation {
  background-color: $violet-darker-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  &__right-side{
    display: flex;
    align-items: center;
    
    & ul {
      list-style-type: none;
      
      & li {
        display: inline-block;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-right: 2rem;
        padding-bottom: .5rem;
        border-bottom: .4rem solid transparent;
        transition: all .3s ease-out;

        &:hover {
          border-bottom: .4rem solid $white;
        }
      }
    }
  }
  
  &__link {
    &:link,
    &:visited {
      color: $pink-lighter;
      text-decoration: none;
      cursor: pointer;
    }

  }

  &__logo {
    width: 15rem;
  }
}