.accordion {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  height: 60rem;
  padding: 10rem;

  @include respond(phone) {
    font-size: 1rem;
  }
  
  input {
    display: none;
  }
  
  &__tab {
    width: 80rem;
    transition: all .2s;

    @include respond(tab-port-smaller) {
      width: 60rem;
    }

    @include respond(phone) {
      width: 40rem;
    }
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    
    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $pink-lighter;
      border-radius: .5rem;
      padding: 3rem;
      height: 4rem;
      cursor: pointer;
  
      @include respond(phone){
        padding-right: 2rem;
      }

      &::after {
        content: '\276F';
        color: $violet-darker-2;
        transform: rotate(90deg);
        height: 1rem;
      }

      & h2 {
        font-size: 2rem;
      }

    }
    &-content {
      overflow: hidden;
      max-height: 0;
      transition: all .3s;
      background-color:$white;

      p {
        margin: 2rem 3rem;
        font-size: 1.5rem;
      }
    }
  }

  & input:checked ~ &__tab-content {
    max-height: 10rem;
  }

  & input:checked + &__tab-label::after {
    transform: rotate(-90deg) translateY(-20px);
    transform-origin: center;
  }

  &__link-container {
    display: flex;
    justify-content: end;
  }
}
